@import '@styles/mixins.scss';
@import '@styles/variables.module.scss';

.pageTitle {
  @include visuallyHidden;
}

.section {
  @include container;

  & > h2 {
    font-size: clamp($fontSizeBig, 4vw, $fontSizeBigest);
    text-align: center;
    margin: 0 0 clamp(2.5rem, 4vw, 4rem);
  }
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: clamp(1rem, 4vw, 1.25rem) clamp(2rem, 4vw, 3rem);
  gap: clamp(1rem, 4vw, 1.25rem) clamp(2rem, 4vw, 3rem);
  justify-content: center;
  max-width: 75rem;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0 auto;

  @media (min-width: 350px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 500px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 650px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: 800px) {
    grid-template-columns: repeat(5, 1fr);
  }
}
