.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__input-container {
  position: relative;
  width: 100%;
}

.form__input {
  font-size: var(--fs-default);
  line-height: var(--lh-regular);
  letter-spacing: var(--ls-default);
  color: var(--color-black);
  width: 100%;
  padding: 0.625rem 0.75rem;
  border: 0.0625rem solid var(--color-grey);
  border-radius: 0.5rem;

  &.textarea {
    min-height: 7.5rem;
  }

  &:-webkit-autofill {
    box-shadow: 0 0 0px 1000px #fff inset;
  }

  &:hover,
  &:focus {
    border: 0.0625rem solid var(--color-green);
    outline: 0.0625rem solid var(--color-green);

    & + .form__label {
      color: var(--color-green);
    }
  }
}

.form__label {
  z-index: 1;
  position: absolute;
  left: 0.75rem;
  top: -0.6em;
  font-size: var(--fs-small);
  font-weight: 500;
  line-height: var(--lh-medium);
  max-width: calc(100% - 0.75rem * 2);
  background-color: var(--color-white);
}
