.button {
  display: block;
  cursor: pointer;
  text-align: center;
  border: none;
  background-color: transparent;
  padding: 0;

  &[disabled] {
    pointer-events: none;
    opacity: 0.7;
  }
}

.green-button {
  max-width: 12.8125rem;
  width: 100%;
  color: var(--color-white);
  background-color: var(--color-green);
  padding: 0.6563rem 1rem;
  border-radius: 0.25rem;
  transition: opacity var(--tr-slow) ease-out, transform var(--tr-slow) ease-out;

  &:hover,
  &:focus {
    transform: scale(104%);
  }
}
