@import '@styles/mixins.scss';
@import '@styles/variables.module.scss';

.section {
  @include container;
}

.sectionTitle {
  @include visuallyHidden;
}

.list {
  @include container;
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  font-size: clamp($fontSizeRegular, 3vw, $fontSizeMedium);

  & > * {
    margin-bottom: 1rem;
  }

  & > h3 {
    align-self: flex-start;
    margin: 0 1rem 1rem 0;
  }

  & > ol {
    @include container;
    width: fit-content;
    padding-left: 1em;

    & li {
      &:not(:last-of-type) {
        margin-bottom: 1rem;
      }
    }

    & a {
      font-size: clamp($fontSizeRegular, 3vw, $fontSizeMedium);
      line-height: 1.3;
      color: $colorBlack;
      word-break: break-word;
      text-decoration: none;
      transition: color $transitionSlow ease-in-out;

      &:hover,
      &:focus {
        color: $colorBlue;
      }
    }
  }
}
