@import '@styles/variables.module.scss';

.title {
  font-size: clamp($fontSizeBig, 4vw, $fontSizeBigest);
  text-align: center;
  margin: 0 0 clamp(2.5rem, 4vw, 4rem);
}

.button {
  display: block;
  font-size: $fontSizeRegular;
  text-align: center;
  cursor: pointer;
  padding: 0.6rem 0.8rem;
  border-radius: 0.3rem;
  border: 0.125rem solid $colorBlack;
  background-color: transparent;
  margin: 6rem 0 0 auto;
  transition: color $transitionSlow ease-in-out;

  &:hover,
  &:focus {
    color: $colorBlue;
  }
}
