@import '@styles/variables.module.scss';

.item {
  max-width: 100%;
  width: 100%;

  & a {
    font-size: clamp($fontSizeRegular, 3vw, $fontSizeMedium);
    line-height: 1.3;
    color: $colorBlack;
    word-break: break-word;
    text-decoration: none;
    transition: color $transitionSlow ease-in-out;

    &:hover,
    &:focus {
      color: $colorBlue;
    }
  }
}
