@import '@styles/variables.module.scss';

.paginate {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 5rem;

  & > ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0.125rem 0;
    margin: 0;
    overflow-x: auto;

    & li {
      font-size: $fontSizeRegular;
      transition: opacity $transitionSlow ease-out;

      &:not(:last-of-type) {
        margin-right: 1.5rem;
      }

      &:global.break {
        pointer-events: none;
      }

      &:global.disabled {
        opacity: 0.5;
      }

      &:global.selected a {
        color: $colorBlack;
        pointer-events: none;
      }

      & a {
        text-decoration: none;
        color: $colorBlue;
        transition: color $transitionSlow ease-out;
        padding: 0 0.3em;

        &:hover,
        &:focus {
          color: $colorBlack;
        }

        &:global.paginationPreviousLink,
        &:global.paginationNextLink {
          display: flex;
          align-items: center;
          justify-content: center;

          &::before {
            content: '';
            display: block;
            width: 1em;
            height: 1em;
            background-color: $colorBlack;
            clip-path: polygon(100% 0, 0 0, 50% 100%);
          }
        }

        &:global.paginationPreviousLink::before {
          clip-path: polygon(0 50%, 50% 0, 50% 100%);
          transform: translateX(2px);
        }

        &:global.paginationNextLink::before {
          clip-path: polygon(100% 50%, 50% 0, 50% 100%);
          transform: translateX(-2px);
        }
      }
    }
  }
}
