* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: var(--main-font);
  font-weight: 400;
  color: var(--color-dark);
  background-color: var(--color-lignt-grey);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

ol {
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(0 0 0 0);
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  overflow: hidden;
}

.page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: calc(var(--w-root-wrapper) - (var(--p-page) * 2));
  margin: clamp(2.25rem, 3vw, 3rem) auto;
  padding: 0 var(--p-page);
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
