:root {
  /*-- FONTS --*/
  --main-font: 'Inter', Helvetica, Arial, sans-serif;

  /*-- FONT SIZES --*/
  --fs-small: 0.75rem; /* 12px */
  --fs-default: 1rem; /* 16px */
  --fs-medium: 1.25rem; /* 20px */
  --fs-page-title: 1.5rem; /* 24px */

  /*-- COLORS --*/
  --color-dark: #263238;
  --color-white: #ffffff;
  --color-green: #1bb55c;
  --color-grey: #263238;
  --color-lignt-grey: #d5d5d5;

  /* LINE HEIGHT */
  --lh-small: 1.2;
  --lh-medium: 1.3;
  --lh-regular: 1.5;
  --lh-big: 1.6;

  /* LETTER SPACING */
  --ls-small: 0.005em;
  --ls-default: 0.01em;

  /* PAGE PADDING */
  --p-page: clamp(0.9375rem, 4vw, 2.5rem);

  /* TRANSITION */
  --tr-slow: 0.2s;

  /* WIDTH */
  --w-root-wrapper: 120rem; /* 1920px */
}
