.feedback-section {
  align-self: center;
  max-width: 37.375rem;
  background-color: var(--color-white);
  padding: clamp(1rem, 5vw, 2.8125rem) clamp(1.5rem, 5vw, 3.5rem);
}

.feedback-form-section__title {
  width: fit-content;
  align-self: center;
  margin-bottom: 1.8125rem;
}

.feedback-section__form {
  align-items: center;
}

.feedback-section__form-fieldset {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-gap: 1.625rem 1.3125rem;
  gap: 1.625rem 1.3125rem;
  max-width: 30.3125rem;
  width: 100%;
  margin-bottom: 1.625rem;

  @media (min-width: 550px) {
    grid-template-columns: repeat(auto-fit, 14.5rem);
  }
}

.feedback-section__form-input-container {
  &.textarea-container {
    max-width: 30.3125rem;
    margin-bottom: 1.5625rem;
  }
}

.feedback-section__form-bottom-container {
  align-items: center;
}

.feedback-section__form-description {
  text-align: center;
  font-size: var(--fs-small);
  line-height: var(--lh-big);
  letter-spacing: var(--ls-small);
  margin-bottom: 0.6875rem;

  & .feedback-section__form-policy-link {
    font-size: var(--fs-small);
    line-height: var(--lh-big);
    letter-spacing: var(--ls-small);
    color: var(--color-dark);
    transition: color var(--tr-slow) ease-out;

    &:hover,
    &:focus {
      color: var(--color-green);
    }
  }
}
