@import './variables.module.scss';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  overflow-x: hidden;
}

#page-root {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: $pageWrapperWidth;
  width: 100%;
  padding: 0 $pagePadding;
  height: 100%;
}

main {
  margin-top: clamp(1.5rem, 4vw, 3rem);
  margin-bottom: clamp(3rem, 6vw, 6rem);
  min-height: 100vh;
}
