@mixin visuallyHidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

@mixin container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
}
