//colors
$colorBlack: #000000;
$colorBlue: #003eff;

//font-size
$fontSizeDefoult: 1rem;
$fontSizeRegular: 1.25rem;
$fontSizeMedium: 1.5rem;
$fontSizeBig: 2rem;
$fontSizeBigest: 3rem;

//padding
$pagePadding: clamp(0.9375rem, 4vw, 2.5rem);

//wrapper
$pageWrapperWidth: calc(120rem - $pagePadding * 2);

//transition
$transitionSlow: 0.2s;

:export {
  colorBlack: $colorBlack;
  colorBlue: $colorBlue;
  fontSizeDefoult: $fontSizeDefoult;
  fontSizeRegular: $fontSizeRegular;
  fontSizeMedium: $fontSizeMedium;
  fontSizeBig: $fontSizeBig;
  fontSizeBigest: $fontSizeBigest;
  pageWrapperWidth: $pageWrapperWidth;
  pagePadding: $pagePadding;
}
